

@media screen and (min-width: 481px) {
body {
  background-image: url("https://wallpaperscraft.com/image/canada_lake_transparent_water_bottom_mountains_cool_freshness_purity_52104_3840x2400.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
}

@media screen and (max-width: 480px) {
    body {
          background-image: url("http://interfacelift.com/wallpaper/D5df479e/04084_majesty_2160x1920.jpg");
          background-size: contain;
          background-repeat: no-repeat;
    }
  }

p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
