

@media screen and (min-width: 481px) {
body {
  background-image: url("https://wallpaperscraft.com/image/canada_lake_transparent_water_bottom_mountains_cool_freshness_purity_52104_3840x2400.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
}

@media screen and (max-width: 480px) {
    body {
          background-color: lightgreen;
    }
  }

p.sansserif {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    text-align: center;
}

h1{
  font-size: 48px;
	line-height: 48px;
	margin: 1em 0 .6em 0;
	font-weight: normal;
	color: white;
	font-family:"proxima-nova-condensed","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	position: relative;
	color: #FFFFFF;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
